*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 20px;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

main > section {
  padding: 1rem;
}

a {
  text-decoration: none;
  color: #f17906;
}

footer {
  text-align: center;
}

.container {
  position: relative;
  max-width: 800px;
  margin: auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .container > img {
    max-width: 100%;
  }
}

section h2 {
  overflow: hidden;
  text-align: center;
}

@media (max-width: 768px) {
  section h2 {
    text-align: left;
  }

  section h2 img {
    transform: scale(0.7);
    transform-origin: left bottom;
  }
}

@media (max-width: 480px) {
  section h2 img {
    transform: scale(0.5);
  }
}

.columns {
  display: flex;
  align-content: flex-start;
  align-items: stretch;
  margin-top: 20px;
  gap: 4%;
}

.columns > .left {
  flex: 1;
}

.columns > .right {
  flex: 1;
}

header > nav a {
  color: inherit;
}

header > nav #toggle,
header > nav label[for='toggle'] {
  display: none;
}

header > nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 120px;
  padding: 10px 0;
  transition: box-shadow 200ms, background-color 200ms, height 200ms;
  opacity: 0.85;
  color: #000;
  background-color: transparent;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0);
}

.scrolled header > nav {
  height: 60px;
  padding: 5px 0;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

#logo {
  font-size: 2.3rem;
  position: fixed;
  z-index: 2;
  top: 10px;
  left: 50%;
  width: 150px;
  margin-left: -75px;
  transition: width 200ms, top 200ms, margin-left 200ms;
  color: inherit;
}

#logo img {
  width: 100%;
}

.scrolled #logo {
  top: 5px;
  width: 64px;
  margin-left: -32px;
}

@media (max-width: 700px) {
  #logo {
    top: 5px;
    width: 64px;
    margin-left: -32px;
  }
}

header > nav > section {
  position: relative;
  display: block;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

header > nav ul li {
  font-size: 1.2rem;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
  list-style: none;
}

header > nav ul a {
  font-weight: 500;
  transition: color 0.3s;
  text-decoration: none;
}

header > nav ul a:hover {
  transition: color 0.3s;
}

header > nav {
  opacity: 0.95;
}

header > nav #toggle,
header > nav label[for='toggle'] {
  display: block;
}

header > nav #toggle {
  position: absolute;
  opacity: 0;
}

header > nav ul {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  transition: transform 200ms;
  transform: translate(-150%);
  background: #fff;
}

header > nav ul li {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  margin-left: 20px;
}

header > nav label[for='toggle'] {
  position: fixed;
  z-index: 1;
  top: 15px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

header > nav label[for='toggle'] i {
  display: block;
  width: 100%;
  height: 3px;
  transition: transform 0.1s;
  border-radius: 10px;
  background: #333;
}

header > nav label[for='toggle'] i:nth-child(1) {
}

header > nav label[for='toggle'] i:nth-child(2) {
  transition-duration: 0.1s;
}

header > nav label[for='toggle'] i:nth-child(3) {
}

header > nav #toggle:checked ~ ul {
  transform: translateX(0);
}

header > nav #toggle:checked ~ label[for='toggle'] i:nth-child(1) {
  transform: translate(0, 8.5px) rotate(45deg);
}

header > nav #toggle:checked ~ label[for='toggle'] i:nth-child(2) {
  transform: scaleY(0);
}

header > nav #toggle:checked ~ label[for='toggle'] i:nth-child(3) {
  transform: translate(0px, -8.5px) rotate(-45deg);
}

@media (max-width: 500px) {
  header > nav ul li {
    font-size: 1.6rem;
  }

  header > nav ul li {
    font-size: 1.2em;
    margin-right: 0;
    margin-bottom: 0.7em;
    margin-left: 20px;
  }
}

/* sections */
main > section {
  padding: 70px;
}

@media (max-width: 480px) {
  main > section {
    padding: 40px 10px;
  }
}

main section ul {
  list-style: none;
}

main section ul:before {
  content: attr(aria-label);
}

main section ul li + li {
  margin-top: 0.3em;
}

main section ul li:before {
  display: inline-block;
  width: 1.2em;
  height: 1.1em;
  content: ' ';
  vertical-align: middle;
  background: transparent url('./img/star.svg') no-repeat left top;
  background-size: 0.8em;
}

section > p {
  margin-bottom: 1em;
}

.stars:before,
.stars:after {
  display: inline-block;
  width: 1.3em;
  height: 1.6em;
  margin: 0 0.5em;
  content: ' ';
  vertical-align: middle;
  background: transparent url('./img/star.svg') no-repeat left top;
  background-size: 1.3em;
}

#hi {
  position: relative;
  padding-top: 10rem;
}

#hi .columns {
  max-width: 500px;
  margin: 0 auto;
}

#hi .left {
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  flex: 0.5;
  flex-direction: column;
}

#hi .right {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#hi img[src='./img/привет.svg'],
#hi img[src='./img/cat/гуру.svg'] {
  width: 100%;
}

#try {
  padding-top: 0;
  text-align: center;
}

#try img {
  max-width: 80%;
}

#target {
  background-color: #ffe9da;
}

#target p + p {
  margin-top: 20px;
}

#target p {
  text-align: center;
}

#target p:before {
  display: inline-block;
  width: 1.7em;
  height: 1.5em;
  content: ' ';
  vertical-align: middle;
  background: transparent url('./img/star.svg') no-repeat left top;
  background-size: 1.3em;
}

#target .columns {
  padding-top: 3%;
}

#target .left {
  flex: 0.8;
  text-align: right;
}

#target img[src='./img/cat/кому я подойду.svg'] {
  width: 80%;
}

#important {
  position: relative;
}

#important p {
  text-align: center;
}

#important h2 {
  padding-bottom: 3%;
}

#i-can .left {
  flex: 0.8;
  text-align: right;
}

#i-can .right {
  padding-top: 4%;
}

#i-can img[src='./img/cat/смотри что я могу.svg'] {
  width: 80%;
}

#i-am-great {
  background-color: #ffe9da;
}

#i-am-great .left {
  flex: 0.8;
  text-align: right;
}

#i-am-great .right {
  padding-top: 4%;
}

#i-am-great img[src='./img/cat/смотри какой я классный.svg'] {
  width: 80%;
}

#founders {
  position: relative;
}

#founders .left {
}

#founders .right ul {
  padding-bottom: 7%;
}

#our-photo {
  position: relative;
  width: 100%;
}

#our-photo .photo {
  position: absolute;
  top: 11.2%;
  left: 12.3%;
  overflow: hidden;
  width: 79.6%;
  height: 66.4%;
}

#our-photo .photo img {
  width: 100%;
}

#our-photo img[src='./img/frames/рамка квадратная.svg'] {
  position: relative;
  width: 100%;
}

#alem-photo {
  position: relative;
  width: 60%;
}

#alem-photo .photo img {
  position: absolute;
  top: 10%;
  left: 9%;
  width: 87%;
  border-radius: 50%;
}

#alem-photo img[src='./img/frames/рамка круглая.svg'] {
  position: relative;
  width: 100%;
}

#founders img[src='./img/cat/куку.svg'] {
  position: absolute;
  right: 10%;
  bottom: -70px;
  width: 14%;
}

#our-photo:after {
  position: absolute;
  top: 79%;
  left: 17%;
  width: 70%;
  content: attr(aria-label);
  text-align: center;
}

@media (max-width: 700px) {
  #our-photo:after {
    top: 100%;
    bottom: auto;
    left: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  #founders img[src='./img/cat/куку.svg'] {
    bottom: -40px;
  }
}

#meet {
  background-color: #ffe9da;
}

#meet img[src='./img/frames/рамка квадратная.svg'] {
  position: relative;
  width: 100%;
}

#assem-photo:after,
#nikita-photo:after {
  position: absolute;
  bottom: 9%;
  left: 0;
  width: 100%;
  content: attr(aria-label);
  text-align: center;
}

#assem-photo {
  position: relative;
}

#assem-photo .photo {
  position: absolute;
  top: 11%;
  left: 12%;
  overflow: hidden;
  width: 80%;
  height: 68%;
}

#assem-photo .photo img {
  position: absolute;
  top: -4%;
  left: 0;
  width: 100%;
}

#nikita-photo {
  position: relative;
}

#nikita-photo .photo {
  position: absolute;
  top: 11%;
  left: 12%;
  overflow: hidden;
  width: 80%;
  height: 68%;
}

#nikita-photo .photo img {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
}

#history {
}

#history .container {
  min-height: 400px;
}

#history h2 {
  text-align: right;
}

#history img[src='./img/headers/как появился gurucat.svg'] {
  width: 50%;
  transform: none;
}

#history img[src='./img/cat/как появился gurucat.svg'] {
  position: absolute;
  top: -3%;
  left: 18%;
  width: 25%;
}

@media (max-width: 768px) {
  #history img[src='./img/cat/как появился gurucat.svg'] {
    top: -4%;
  }
}

#history img[src='./img/frames/рамка круглая.svg'] {
  position: relative;
  width: 100%;
}

#history .photo {
  position: absolute;
  top: 9%;
  left: 8%;
  overflow: hidden;
  width: 86%;
  height: 90%;
}

#history .photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#history .assem,
#history .nikita {
  position: relative;
  width: 30%;
}

#history .assem {
  margin-top: 7%;
  margin-bottom: -25%;
  margin-left: auto;
}

#history .nikita {
  margin-top: 5%;
  margin-bottom: -30%;
}

#history .quote1 {
  display: block;
  width: 60%;
  padding-bottom: 5%;
}

#history .quote2 {
  width: 80%;
  margin-top: 5%;
}

#history .quote3 {
  width: 60%;
  margin-top: 10%;
  margin-left: 40%;
  padding-bottom: 15%;
}

#history-made {
  background-color: #ffe9da;
}

#history-made .quote1 {
  width: 80%;
}

#history-made .quote1 p {
  margin-bottom: 1em;
}

#history-made .quote2 {
  text-align: center;
}

#history-made img[src='./img/лого.svg'] {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
}

#history-made img[src='./img/frames/рамка круглая.svg'] {
  position: relative;
  width: 100%;
}

#history-made .umbrella {
  position: relative;
  width: 30%;
  margin: 5% auto;
}

#history-made .photo {
  position: absolute;
  top: 9%;
  left: 8%;
  overflow: hidden;
  width: 86%;
  height: 90%;
}

#history-made .photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 50%;
}

#examples {
}

#examples .screenshot {
  width: 60%;
  margin: 5% auto;
}

#examples img[src='./img/cat/примеры.svg'] {
  position: absolute;
  top: 25%;
  right: -5%;
  width: 30%;
}

.screenshot {
  position: relative;
}

.screenshot .photo {
  position: absolute;
  top: 4.5%;
  left: 10.6%;
  overflow: hidden;
  width: 75.6%;
  height: 91.2%;
}

.screenshot .photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.screenshot img[src='./img/frames/рамка скриншот.svg'] {
  /* position: relative; */
  width: 100%;
}

#purrs {
}

#purrs .screenshot {
  width: 60%;
  margin: 5% auto;
}

#purrs img[src='./img/cat/что мурчат котики.svg'] {
  position: absolute;
  top: 40%;
  left: 0;
  width: 20%;
}

#pricing {
}

.table {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-template-areas:
    'header-feature-cat  header-cat  header-pro  header-guru'
    'feature-cat-01      cat-01      pro-01      guru-01    '
    'feature-cat-02      cat-02      pro-02      guru-02    '
    'feature-cat-03      cat-03      pro-03      guru-03    '
    'feature-cat-04      cat-04      pro-04      guru-04    '
    'feature-cat-05      cat-05      pro-05      guru-05    '
    'feature-cat-06      cat-06      pro-06      guru-06    '
    'feature-cat-07      cat-07      pro-07      guru-07    '
    'feature-cat-08      cat-08      pro-08      guru-08    '
    'feature-cat-09      cat-09      pro-09      guru-09    '
    'feature-cat-10      cat-10      pro-10      guru-10    '
    'feature-cat-11      cat-11      pro-11      guru-11    ';
}

.table div[class^='header'] {
  font-size: 0.85em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.table div {
  line-height: 3em;
  text-align: center;
  white-space: nowrap;
  border-bottom: 1px solid #f8d0ba;
}

@media screen and (max-width: 600px) {
  .table {
    font-size: 0.8em;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      'header-cat           header-cat  '
      'feature-cat-01       cat-01      '
      'feature-cat-02       cat-02      '
      'feature-cat-03       cat-03      '
      'feature-cat-04       cat-04      '
      'feature-cat-05       cat-05      '
      'feature-cat-06       cat-06      '
      'feature-cat-07       cat-07      '
      'feature-cat-08       cat-08      '
      'feature-cat-09       cat-09      '
      'feature-cat-10       cat-10      '
      'feature-cat-11       cat-11      '
      'header-pro           header-pro  '
      'feature-pro-01       pro-01      '
      'feature-pro-02       pro-02      '
      'feature-pro-03       pro-03      '
      'feature-pro-04       pro-04      '
      'feature-pro-05       pro-05      '
      'feature-pro-06       pro-06      '
      'feature-pro-07       pro-07      '
      'feature-pro-08       pro-08      '
      'feature-pro-09       pro-09      '
      'feature-pro-10       pro-10      '
      'feature-pro-11       pro-11      '
      'header-guru          header-guru '
      'feature-guru-01      guru-01     '
      'feature-guru-02      guru-02     '
      'feature-guru-03      guru-03     '
      'feature-guru-04      guru-04     '
      'feature-guru-05      guru-05     '
      'feature-guru-06      guru-06     '
      'feature-guru-07      guru-07     '
      'feature-guru-08      guru-08     '
      'feature-guru-09      guru-09     '
      'feature-guru-10      guru-10     '
      'feature-guru-11      guru-11     ';
  }

  .table .header-pro,
  .table .header-guru {
    margin-top: 4em;
  }

  .table div[class^='feature'] {
    text-align: left;
  }

  .table [class^='cat'],
  .table [class^='pro'],
  .table [class^='guru'] {
    text-align: right;
  }
}

@media screen and (min-width: 601px) {
  .header-feature-pro {
    display: none;
  }

  .feature-pro-01 {
    display: none;
  }

  .feature-pro-02 {
    display: none;
  }

  .feature-pro-03 {
    display: none;
  }

  .feature-pro-04 {
    display: none;
  }

  .feature-pro-05 {
    display: none;
  }

  .feature-pro-06 {
    display: none;
  }

  .feature-pro-07 {
    display: none;
  }

  .feature-pro-08 {
    display: none;
  }

  .feature-pro-09 {
    display: none;
  }

  .feature-pro-10 {
    display: none;
  }

  .feature-pro-11 {
    display: none;
  }

  .header-feature-guru {
    display: none;
  }

  .feature-guru-01 {
    display: none;
  }

  .feature-guru-02 {
    display: none;
  }

  .feature-guru-03 {
    display: none;
  }

  .feature-guru-04 {
    display: none;
  }

  .feature-guru-05 {
    display: none;
  }

  .feature-guru-06 {
    display: none;
  }

  .feature-guru-07 {
    display: none;
  }

  .feature-guru-08 {
    display: none;
  }

  .feature-guru-09 {
    display: none;
  }

  .feature-guru-10 {
    display: none;
  }

  .feature-guru-11 {
    display: none;
  }
}

.header-feature-cat {
  grid-area: header-feature-cat;
}

.header-cat {
  grid-area: header-cat;
}

.feature-cat-01 {
  grid-area: feature-cat-01;
}

.cat-01 {
  grid-area: cat-01;
}

.feature-cat-02 {
  grid-area: feature-cat-02;
}

.cat-02 {
  grid-area: cat-02;
}

.feature-cat-03 {
  grid-area: feature-cat-03;
}

.cat-03 {
  grid-area: cat-03;
}

.feature-cat-04 {
  grid-area: feature-cat-04;
}

.cat-04 {
  grid-area: cat-04;
}

.feature-cat-05 {
  grid-area: feature-cat-05;
}

.cat-05 {
  grid-area: cat-05;
}

.feature-cat-06 {
  grid-area: feature-cat-06;
}

.cat-06 {
  grid-area: cat-06;
}

.feature-cat-07 {
  grid-area: feature-cat-07;
}

.cat-07 {
  grid-area: cat-07;
}

.feature-cat-08 {
  grid-area: feature-cat-08;
}

.cat-08 {
  grid-area: cat-08;
}

.feature-cat-09 {
  grid-area: feature-cat-09;
}

.cat-09 {
  grid-area: cat-09;
}

.feature-cat-10 {
  grid-area: feature-cat-10;
}

.cat-10 {
  grid-area: cat-10;
}

.feature-cat-11 {
  grid-area: feature-cat-11;
}

.cat-11 {
  grid-area: cat-11;
}

.header-feature-pro {
  grid-area: header-feature-pro;
}

.header-pro {
  grid-area: header-pro;
}

.feature-pro-01 {
  grid-area: feature-pro-01;
}

.pro-01 {
  grid-area: pro-01;
}

.feature-pro-02 {
  grid-area: feature-pro-02;
}

.pro-02 {
  grid-area: pro-02;
}

.feature-pro-03 {
  grid-area: feature-pro-03;
}

.pro-03 {
  grid-area: pro-03;
}

.feature-pro-04 {
  grid-area: feature-pro-04;
}

.pro-04 {
  grid-area: pro-04;
}

.feature-pro-05 {
  grid-area: feature-pro-05;
}

.pro-05 {
  grid-area: pro-05;
}

.feature-pro-06 {
  grid-area: feature-pro-06;
}

.pro-06 {
  grid-area: pro-06;
}

.feature-pro-07 {
  grid-area: feature-pro-07;
}

.pro-07 {
  grid-area: pro-07;
}

.feature-pro-08 {
  grid-area: feature-pro-08;
}

.pro-08 {
  grid-area: pro-08;
}

.feature-pro-09 {
  grid-area: feature-pro-09;
}

.pro-09 {
  grid-area: pro-09;
}

.feature-pro-10 {
  grid-area: feature-pro-10;
}

.pro-10 {
  grid-area: pro-10;
}

.feature-pro-11 {
  grid-area: feature-pro-11;
}

.pro-11 {
  grid-area: pro-11;
}

.header-feature-guru {
  grid-area: header-feature-guru;
}

.header-guru {
  grid-area: header-guru;
}

.feature-guru-01 {
  grid-area: feature-guru-01;
}

.guru-01 {
  grid-area: guru-01;
}

.feature-guru-02 {
  grid-area: feature-guru-02;
}

.guru-02 {
  grid-area: guru-02;
}

.feature-guru-03 {
  grid-area: feature-guru-03;
}

.guru-03 {
  grid-area: guru-03;
}

.feature-guru-04 {
  grid-area: feature-guru-04;
}

.guru-04 {
  grid-area: guru-04;
}

.feature-guru-05 {
  grid-area: feature-guru-05;
}

.guru-05 {
  grid-area: guru-05;
}

.feature-guru-06 {
  grid-area: feature-guru-06;
}

.guru-06 {
  grid-area: guru-06;
}

.feature-guru-07 {
  grid-area: feature-guru-07;
}

.guru-07 {
  grid-area: guru-07;
}

.feature-guru-08 {
  grid-area: feature-guru-08;
}

.guru-08 {
  grid-area: guru-08;
}

.feature-guru-09 {
  grid-area: feature-guru-09;
}

.guru-09 {
  grid-area: guru-09;
}

.feature-guru-10 {
  grid-area: feature-guru-10;
}

.guru-10 {
  grid-area: guru-10;
}

.feature-guru-11 {
  grid-area: feature-guru-11;
}

.guru-11 {
  grid-area: guru-11;
}

#order {
  padding-top: 0;
}

#order .left {
  flex: 0.4;
  text-align: right;
}

#order .right {
  padding-top: 5%;
}

#order img[src='./img/cat/оставить заявку.svg'] {
  width: 80%;
}

#order img[src='./img/buttons/оставить заявку.svg'] {
  max-width: 100%;
}

#contact img[src='./img/cat/гуру.svg'] {
  display: block;
  max-width: 50%;
  margin: 0 auto;
}
